[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
uvicorn = "*"
requests = "*"

[packages]
fastapi = "*"
pyarango = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
